*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
  --background-light: #faeee7;
  --background-dark: #282625;

  --ff-primary: "Lora", serif;
  --ff-secondary: "Roboto Slab", serif;

  --fw-reg: 400;
  --fw-bold: 700;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #33272a;
  --clr-accent-transparent: rgba(226, 33, 106, 0.5);
  --clr-pink: #bfabb4;
  --clr-dark-pink: #e2216a;
  --clr-light-pink: rgb(249, 224, 223, 0.5);

  --clr-gradient: radial-gradient(
    circle,
    rgba(250, 238, 231) 50%,
    rgb(248, 253, 242) 70%
  );


  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.15rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General styles */
.dark-theme {
  --clr-gradient: #1a1919;
  --clr-dark-pink: #faeee7;
  --clr-accent: #faeee7;
  --background-light: #1a1919;


}
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-gradient);
  color: var(--clr-accent);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

body p {
  color: var(--clr-accent);
}

.nav-bar {
  width: 84%;
  display: flex;
  margin: auto;
  padding-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
  cursor: pointer;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}
:focus {
  outline-offset: 3px;
}
.btn {
  display: inline-block;
  padding: 1em 3.5em;
  margin-top: 2.5em;
  background: var(--clr-light);
  color: var(--clr-accent);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 200ms ease-in-out;
  border-radius: 5px;
}
.btn:hover {
  transform: scale(1.1);
}

/* Typography */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--background-light);
  border-top: solid var(--clr-dark-pink) ;
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
  color: var(--clr-accent);
  border-bottom: ;
}

/* header */
.nav {
  position: fixed;
  background: var(--clr-gradient);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent-transparent);
}

.nav-toggle {
  padding: 1em 0.5em;
  background: var(--clr-accent-transparent);
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav.nav-open {
  transform: translateX(0%);
}

.nav-toggle.nav-open {
  position: fixed;
}

.nav-open .hamburger {
  transition: rotate(0.625turn);
}
.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}
.nav-open .hamburger::after {
  opacity: 0;
}
.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-light);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

/*  Intro section  */

.site-content__home {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro {
  position: relative;
}

.intro__image {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro__image {
    grid-area: img;
    min-width: 250px;
    position: relative;
    z-index: 2;
  }

  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* my services */

.my-services {
  background-color: var(--background-light);
  background-size: cover;
  color: var(--clr-accent);
  text-align: center;
}

.section__title--services {
  color: var(---clr-accent);
  position: relative;
}

.section__title--services::after {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  margin: 0.5em auto 1em;
  background: var(--background-light);
  opacity: 0.25;
}

.service {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 40px;
}

@media (min-width: 800px) {
  .services {
    display: flex;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .service + .service {
    margin-left: 2em;
  }
}
/* who am i? */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
  z-index: 2;
}

@media (min-width: 600px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }
  .section__subtitle--about {
    font-size: var(--fs-h3);
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    width: 600px;
  }
}

/* my work */

.my-work {
  background-color: var(--clr-gradient);
  color: var(--clr-accent);
  text-align: center;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.portfolio {
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  max-width: 1320px;
  margin: 30px auto 0;
}

@media only screen and (min-width: 640px) {
  .portfolio {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media only screen and (min-width: 1024px) {
  .portfolio {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.portfolio__item {
  background: var(--clr-gradient);
  overflow: hidden;
}

.portfolio__img {
  border-radius: 10px;
  transition: transform 0.5s ease-out;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}
.portfolio__img:hover,
.portfolio__item:focus .portfolio__img {
  transform: perspective(2000px) rotateX(5deg) rotateY(-10deg) rotateZ(5deg);
}
.portfolio-item__container {
  position: relative;
  text-align: center;
  color: white;
}

.portfolio-item__title {
  position: absolute;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: var(--fs-h4);
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
}
.portfolio-item__title:hover {
  opacity: 0.7;
}

/* footer index */
.social-media__links {
  color: var(--clr-dark-pink);
  text-align: center;
  padding: 1em 0;
  font-size: var(--fs-h4);
}
.social-media__links a {
  color: var(--clr-dark-pink);
  text-decoration: none;
  margin: 0 0.5em;
  font-size: var(--fs-h4);
}

.social-media__list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  /* padding: 2.5em 0; */
}
.social-media__link:hover {
  opacity: 0.7;
  text-decoration: underline;
}
/* footer */

.footer {
  background: var(--clr-gradient);
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h4);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
}

.social-list__link:hover {
  opacity: 0.7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__item:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.social-list__link {
  padding: 0.5em;
}

/* portfolio item */

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}


/* ---------- DARK MODE ------------ */

#icon {
  width: 25px;
  cursor: pointer;
}

nav ul {
  flex: 1;
  text-align: right;
}
